ul#menu{
    padding: 0;
    /* margin: 0; */
    list-style-type: none;
}
ul#menu li{
    /* display: inline; */
    float:left;
    border-right: 3px solid red;
    border-bottom: 5px solid orangered;
}

ul#menu li:last-child{
    border-right: none;
}

ul#menu li a{
    color: whitesmoke;
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    display:block; 
}

ul#menu li a:hover{
    background-color: orange;
}